#explore_hero{
    width: 100%;
    background-color: lightgray;
}
#hero_div{
    width: 100%;
    background-image: url(../assets/images/image16.png);
    color: white;
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12rem 3rem;
    line-height: 2;
}
#hero_div::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}
#hero_div h3, p {
    position: relative;
    z-index: 1;
}
#explore_chukss{
    font-size: 30px;
}
#menu_category{
    width: 90%;
    /* border-radius: 20px; */
    margin:30px auto;
}
#menu_category_header{
    background-color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#select_box{
    width: 100%;
    padding: 5px;
    border: 0.5px solid rgb(235, 137, 101);
    font-size: 17px;
}

#popular_section{
    width: 95%;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.popular_section_dishes{
    width: 31%;
    background-color: white;
    border-radius: 15px;
    margin: 20px auto;
}
.popular_dish_imgsss{
    width: 100%;
}

.dish_namezz{
    padding: 12px 20px;
}
.mealss_description1{
    padding: 0px 20px;
    font-size: 14px;
}
.priceAnd_Add{
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
}
.AddSign{
    width: 30px;
    cursor: pointer;
}
#jollof_rice_ent{
    display: flex;
}
#jollof_first_div{
    width: 95%;
    margin: auto;
}
.categoryTitles{
    padding-left: 3rem;
}
.popular_price{
    color: rgb(242, 110, 61);
}
.amala_Gbegiri{
    padding-top: 25px;
}
.amaladivx{
    padding-bottom: 4rem;
    
}
