#footer_section{
    width: 100%;
    
}
#footer_div1{
    width: 100%;
    margin: auto;
    padding: 10rem 0.5rem 5rem 5rem ;
    background-image: url(../assets/images/image16.png);
    color: white;
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#footer_div1::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}
#footer_div1 h2, p, button{
    position: relative;
    z-index: 1;
}
#footer_intro{
    font-size: 25px;
}
#footer_paragraph{
    font-size: 1rem;
    padding: 15px 1px 10px 1px ;
}
#footer_btn{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: #fe7a41;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#footer_div2{
    width: 100%;
    background-color: rgb(97, 48, 8);
    padding: 5rem 0rem 2rem 0rem ;
}
#footer_notes{
    width: 90%;
    display: flex;
    margin:  auto;
}
.footer_info{
    width: 25%;
    margin: 1px;
    color: white;
}
#chuks_kitchen_footer{
    color: #fe7a41;
  font-family: Great Vibes, cursive;
}
#chuks_kit_paragraph{
    color: white;
    line-height: 2;
}
.footer_infoss{
    font-size: 13px;
    line-height: 2.3;
    color: rgb(190, 188, 188);
}
#upArrow_and_rights{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.footer_right_note{
    font-size: 13px;
    line-height: 2.3;
    color: rgb(190, 188, 188);
   
}
#arrowup_img{
    width: 30px;
    cursor: pointer;
}
#footer_socials{
    padding-left: 25%;
}