
#hero_section{
    width: 100%;
    background-color: lightgray;
    
}
#hero_div1{
    width: 100%;
    margin: auto;
    padding: 10rem 1rem 10rem 2rem;
    color: white;
    background-image: url('../assets/images/hero.png');
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#hero_div1::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}
#hero_div1 h3, p, button{
    position: relative;
    z-index: 1;
}
#Frist_hero_header{
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
}
#second_hero_header{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.hero_button{
    width: 17%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #fe7a41;
    color: white;
    cursor: pointer;
}
/* HERO DIV TWO STYLES BEGINS HERE */
#hero_div2_imgss{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
#hero_div2_title{
    color: rgb(68, 68, 68);
    padding: 5rem 0px 1rem 0px;
    text-align: center;
}
.hero_div2_imgs{
    width: 29%;
    background-color: white;
    /* margin: 1rem 2.2rem 1rem 1rem; */
    margin: 1.1rem auto;
    border-radius: 10px;
}
.div2_images{
    width: 100%;
    height: 60%;
}
.mealName{
   text-align: center;
    margin-top: 10%;
}

/* CHEF's SPECIAL DISH STYLES BEGINS HERE */
#chefs_specials{
    width: 100%;
    
}
.chefs_specials_title12{
    width: 95%;
    margin-top: 6rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 18px;
}
#specialDish_container{
    width: 90%;
    background-color: lightgray;
    margin: auto;
}
#chefs_specials_dishes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.chefs_dishes{
    width: 30%;
    background-color: white;
    margin: 1rem auto;
    border-radius: 10px;
}
.specialD_imgss{
    width: 100%;
    cursor: pointer;
}
.dish_description1{
    font-size: 14px;
    padding-left: 1rem;
}
.dish_title11{
    padding-left: 1rem;
}
.specialDish_priceAndBtn{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 1rem 1rem;
}
.specialDish_price{
    color: #fe7a41;
}
.specialDish_btn{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: rgb(242, 119, 75);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

