#login_section{
    width: 100%;
    background-color: lightgray;
    /* padding: 5rem 0rem 0rem 0rem ; */
}
#loginPage_inner{
    width: 90%;
    background-color: white;
    margin: auto;
    display: flex;
}
.backgroundImg_div{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/images/ImgH.png);
    text-align: center;
    height: 100vh;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.backgroundImg_div::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(204, 102, 0, 0.8);
}
.backgroundImg_div h3, p{
    position: relative;
    z-index: 1;
}
.nigerian_meals_header{
    margin-bottom: 10px;
}

#text_hold_div{
    color: white;
}


.login_div{
    width: 58%;
    background-color: white;
    display: flex;
    /* margin: auto; */
    margin: 6rem 3.5rem;
}
#login_form_holder{
    width: 100%;
}
#chuks_kitchen_login{
    line-height: 2;
    color: rgb(255, 123, 0);
    text-align: center;
}
#accountLoginHeader{
    font-size: 20px;
    text-align: center;
}
#loginForm{
    padding: 5px;
}
.login_input{
    width: 100%;
    padding: 10px 0px 8px 3rem;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
.input_labels{
    color: gray;
}
#forgot_pass{
    float: right;
    font-size: 10px;
    color: rgb(29, 114, 154);
}
.continue_button{
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
    background-color:rgb(255, 119, 0) ;
    color: white;
}
#continue_with{
    text-align: center;
    font-size: 14px;
    color: gray;
}
.socials_buttonFG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray ;
    margin: 10px 0px;
    background-color: white;
    border-radius: 5px;
    color: gray;
}
#create_account{
    font-size: 13px;
    text-align: center;
}
#create_account22{
    color: rgb(0, 106, 255);
    cursor: pointer;
}
.login_social_img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.password_wrapper{
    width: 100%;
    position: relative;

}
#hide_eye{
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity:50%;
}
#email_logo{
    position: absolute;
    left: 16px;
    width: 18px;
    height: 18px;
    top: 50%;
    opacity:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#passLockImg{
    width: 20px;
    position: absolute;
    left: 16px;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity:50%;
}