#cart_section{
    width: 100%;
    background-color: lightgray;
    padding: 2rem 0rem;
}
#cart_article{
    width: 90%;
    margin: auto;
    background-color: lightgray;
}

#cart_innerDivs{
    width: 100%;
    background-color: white;
    padding-bottom: 1rem;
    margin-top: 60px;
    border-radius: 5px;
}
.catrBoxes_holder{
    width: 99%;
    padding: 5px;
    border: 1px solid rgb(233, 230, 230);
    margin: 3px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.cart_imgss{
    width: 13%;
    margin-right: 10px;
}
.cart_nameAndDescrip{
    line-height: 1.5;
    margin-left: 15px;
}
#dish_description1{
    font-size: 14px;
}
.addSub{
    width: 20px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.price_of_item{
    color: #fe7a41;
}
.cancel{
    width: 30px;
    cursor: pointer;

}
#cartRicePlantain{
    width: 120px;
    height: 110px;
}

#mini_icons_holder{
    width: 60%;
    display: flex;
    justify-content:space-evenly;
}
.AddsSignInner{ 
    width: 20px;
    background-color: lightgray;
}
.minus_signNew{
    width: 20px;
    background-color: lightgray;
}
.addsubtract4{
    width: 100%;
    background-color: lightgray;
    line-height: 1;
    font-size: 16px;
    font-weight: 800;
    border-radius: 3px;
}
#cart_header{
    padding: 3px;
}
#add_moreDish{
    color: rgb(48, 165, 237);
    padding: 1rem 1rem;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.close_imaging4{
    width: 20px;
    height: 20px;
}
.priceAndExit_div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.add_Nos_subtract{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

/* ORDER SUMMARY STYLING BEGINS HERE */
#orderSummary_section{
    width: 100%;
    background-color: lightgray;
}
#Summar_div1{
    background-color: lightgray;
    padding-bottom: 30px;
}
#inner_summary_div{
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 20px 10px;
}
#orderSumHeader{
    margin-bottom: 30px;
}
.inputBox{
    width: 80%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 3px;
    margin: 5px 10px 20px 0px;
}
.Login_btn{
    padding: 12px;
    width: 18%;
    background-color: #fe7a41;
    color: white;
    border: none;
    border-radius: 5px;
}
.totaling{
    display: flex;
    justify-content: space-between;
    color: gray;
}
.summary_details{
    line-height: 2;
}
#total_div{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-weight: 700;
}
#deliverAnd_pickup{
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.deliver1{
    width: 50%;
    background-color: #fe7a41;
    padding: 9px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.Pickup2{
    width: 50%;
    background-color: rgb(201, 199, 199);
    padding: 9px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#orderSummary_TextArea{
    width: 100%;
    height: 80px;
    margin: 10px 0px;
}
#checkout_button{
    width: 100%;
    padding: 11px;
    margin: 10px 0px;
    background-color: #fe7a41;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
#textArea_label{
    font-weight: 600;
    color: rgb(69, 68, 68);
}

/* DELIVERY DETAILS STYLING BEGINS HERE */

#sec_deliveryDetails{
    width: 100%;
    background-color: lightgray;
    padding-bottom: 40px;
}
#delivery_div{
    width: 55%;
    background-color: white;
    margin: auto;
    padding: 20px 0px;
    border-radius: 10px;
}

#address_div{
    width: 98%;
    height: 95px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin: 10px 5px;
    border-radius: 5px;
}
.chamgeAddress{
    color: rgb(28, 105, 220);
    font-size: 15px;
}
.input_header{
    margin: 10px 5px;
}
#home_addresses{
    font-size: 14px;
}
.delivery_Address{
    width: 98%;
    padding: 3px 1px 25px 3px;
    margin: 10px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#delivery_Instruction12{
    width: 98%;
    padding: 3px 1px 35px 3px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

/* Payment method selection style */
#payment_div{
    width: 100%;
}
#payment_inner_div{
    width: 55%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 5px;
    margin:20px auto;
}
#pay_with{
    margin: 10px 0px;
}
.options{
    display: flex;
    gap: 6rem;
    margin-bottom: 1.5rem;
}
.cardNumber{
    font-size: 14px;
}
.option_labels{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}
.cardNo_box{
    padding: 10px;
    width: 98%;
    margin: 5px 0px;
}
.expireyAnd_cvv{
    display: flex;
    width: 98%;
    
}
.expireAnd_cvv_innerDiv{
    width: 100%;
}
.expiryDate_input{
    width: 98%;
    padding: 8px;
    margin: 10px 0px;
}
#expiry_dateInput{
    margin-right: 10px;
}
.saveCardDetails{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(91, 90, 90);
    margin-bottom: 20px;
}
#finalPayment_btn{
    width: 98%;
    padding: 8px;
    background-color: #fe7a41;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 10px 0px;
}
.finalCondition{
    color: gray;
    font-size: 13px;
}
