*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
  box-sizing: border-box;
  
}
body{
  font-family: 'Poppins', sans-serif;
}
#main_nav_divs{
  width: 100%;
}
/* .nav_contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
#navigation{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}
.nav_div{
  display: flex;
  align-items: center;
  
}
.navLinks{
  color: black;
  font-size: 1.1rem;
}
.nav_login_button{
  width: 6rem;
  padding: 7px;
  background-color: #fe7a41;
  border: none;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}
.nav_div_login{
  margin-top: 10px;
}
.chuks_header{
  color: #fe7a41;
  font-family: Great Vibes, cursive;
}
#menuImage{
  width: 20px;
  cursor: pointer;
  display: none;
}

