*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
  box-sizing: border-box;
  
}
body{
  font-family: 'Poppins', sans-serif;
}
#main_nav_divs{
  width: 100%;
}

#navigation{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}
.nav_div{
  display: flex;
  align-items: center;
  
}
.navLinks{
  color: black;
  font-size: 1.1rem;
}
.nav_login_button{
  width: 6rem;
  padding: 7px;
  background-color: #fe7a41;
  border: none;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}
.nav_div_login{
  margin-top: 10px;
}
.chuks_header{
  color: #fe7a41;
  font-family: Great Vibes, cursive;
}
#menuImage{
  width: 20px;
  cursor: pointer;
  display: flex;
}
.navLinks{
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  transition: 0.3s;
}
.navLinks:active{
  color: #fe7a41;
  font-weight: 600;
}

/* HAMBURGER DROPDOWN BEGINS HERE */
.hamburger-menu{
    position: absolute;
    top: 50px;
    right: 5px;
    background: white;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(15, 118, 110, 0.4);
    transition: transform 0.5s ease;
    display: flex;
    z-index: 1000;
    width: 50%;
    height: 50vh;
    background-color: #d28462;
    border-radius: 20px;
}

#close_img{
  width: 20px;
}
.anchor_tags{
  color: black;
  font-size: 20px;
  cursor: pointer;

}
.anchor_tags:hover{
  background-color: lightsalmon;
  color: rgb(34, 34, 34);
}
.nav_div_menuBurger{
  display: flex;
  justify-content: center;
  align-items: center;
}







