/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
    

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    #footer_paragraph{
        line-height: 1.5;
        font-size: 25px;
    }
    #footer_btn{
        font-size: 25px;
    }
    .backgroundImg_div{
        height: 580px;
    }
}
/* For ipad Air */
@media screen and (max-width:820px) {
    .hero_button{
        width: 25%;
        font-size: 18px;
    }
    .dish_title11{
        font-size: 1rem;
        padding-bottom: 10px;
    }
}
/* For ipad mini */
@media screen and (max-width:768px) {
    .hero_button{
        width: 30%;
        font-size: 18px;
    }
    .dishes_headings{
        margin-left: 15px;
    }
}
/* For surface duo */
@media screen and (max-width:540px) {
    .navLinks{
        display: none;
    }
    .nav_div_login{
        display: none;
    }
    #menuImage{
        display: flex;
        margin-right: 20px;
    }
    .hero_div2_imgs{
        flex-direction: column;
        width: 100%;
    }
    #chefs_specials_dishes{
        flex-direction: column;
    }
    .chefs_dishes{
        width: 100%;
    }
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    
}
/* For iphone XR */
@media screen and (max-width:414px) {
    
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    
}

@media screen and (max-width:393px) {
    
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    
}
/* For iphone X */
@media screen and (max-width:375px) {
    
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:280px) {
    
}

